<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>DDApp 3.9</title>
    <environment names="Development">
        <link rel="stylesheet" href="./app.css" />
    </environment>
    <environment names="Production,Stagging">
        <link rel="stylesheet" href="./app.min.css" />
    </environment>
    <environment names="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/landbot-widget-1.0.0.js"></script>
        <script src="./app.js"></script>
    </environment>
    <environment names="Production,Stagging">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/landbot-widget-1.0.0.js"></script>
        <script src="./app.min.js"></script>
    </environment>
</head>

<body class="noselect">
    <nav id="navbar-1" class="navbar grid-container">
        <a id="dropbtn" class="dropbtn">
            <i class="fas fa-bars"></i>
        </a>

        <a class="navbar-brand" href="Page1">
            <img src="@Model.AppLogo" alt="App logo" />
        </a>
        <a class="iconCircle" href="@Model.AppQuickActionUrl">@Model.AppQuickActionText<i class="@Model.AppQuickActionIcon"></i></a>
        <div id="loading-indicator"><div class="loader"></div></div>
    </nav>
    <div class="dropdown">
        <div id="NavMenu" class="dropdown-content" style="display:none;">
            @foreach (var navigationLink in Model.Navigation ?? Enumerable.Empty<KeyValuePair<string, string>>())
            {
            <a href="@navigationLink.Value">@navigationLink.Key</a>
            }
        </div>
    </div>

    <main>
        @RenderBody()
    </main>
    @*<script src="~/js/page-load.js" type="module"></script>
    <script src="~/js/nugget.js" type="module"></script>
    <script src="~/js/nav-bar.js" type="module"></script>*@
</body>
</html>
