@model ResultItem

@if (Model.Style == ResultItemStyle.TwoRowsResultWithItemList)
{
    <div class="grid-container ResultItem @Model.Style-ResultItem">
        <section class="ResultItem-Row-One">
            <span class="ResultItem-Name-Info">
                @if (!string.IsNullOrEmpty(Model.ItemName))
                {
                    <span class="ResultItem-ItemName Ellipse">
                        @Model.ItemName
                    </span>
                }
                @if (!string.IsNullOrEmpty(Model.DatePublished))
                {
                    <span class="ResultItem-DatePublished">
                        @Model.DatePublished
                    </span>
                }
            </span>
            @if (!string.IsNullOrEmpty(Model.AdditionalInfo))
            {
                <span class="ResultItem-ShortDescription">
                    @Model.AdditionalInfo
                </span>
            }
        </section>

        <section class="ResultItem-Row-Two">
            <img src="@(!string.IsNullOrEmpty(Model.Image) ? Model.Image : "/img/hospital_placeholder.png")" alt="@Model.Location" />
        </section>

        @{
            Model.Items?.ForEach(x => x.Style = x.Style ?? Model.ItemListStyle);
        }
        <div class="Container grid-container ">
            @Html.DisplayFor(model => model.Items)
        </div>
    </div>
}
else
{
    @if (Model.Style == ResultItemStyle.ThreeRowsResult)
    {
        <a class="grid-container ResultItem @Model.Style-ResultItem" href="@Model.Link">
            <section class="ResultItem-Row-One">
                <span class="ResultItem-Name-Info">
                    @if (!string.IsNullOrEmpty(Model.ItemName))
                    {
                        <span class="ResultItem-ItemName Ellipse">
                            @Model.ItemName
                        </span>
                    }
                    @if (!string.IsNullOrEmpty(Model.DatePublished))
                    {
                        <span class="ResultItem-DatePublished">
                            @Model.DatePublished
                        </span>
                    }
                </span>
                @if (!string.IsNullOrEmpty(Model.AdditionalInfo))
                {
                    <span class="ResultItem-ShortDescription">
                        @Model.AdditionalInfo
                    </span>
                }
            </section>

            <section class="ResultItem-Row-Two">
                <span class="ResultItem-Location-Info">
                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <span class="ResultItem-Description">
                            @Model.Description
                        </span>
                    }

                    @if (!string.IsNullOrEmpty(Model.Location))
                    {
                        <span class="ResultItem-Location">
                            @Model.Location
                        </span>
                    }
                </span>

                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="@Model.Image" alt="@Model.Location" />
                }
            </section>
        </a>
        @if (!string.IsNullOrWhiteSpace(Model.ContactInfo))
        {
            <a class="grid-container ResultItem @Model.Style-ResultItem" href="@Model.ContactInfoLink">
                <section class="ResultItem-Row-Three">

                    <span class="ResultItem-ContactInfo">
                        @Model.ContactInfo
                    </span>

                    @if (!string.IsNullOrEmpty(Model.ContactInfoIcon?.Image))
                    {
                        <img src="@Model.ContactInfoIcon.Image" class="ResultItem-ContactInfo-Image" />
                    }

                    @if (!string.IsNullOrEmpty(Model.ContactInfoIcon?.Icon))
                    {
                        <i class="@Model.ContactInfoIcon.Icon"></i>
                    }
                </section>
            </a>
        }
    }

    @if (Model.Style == ResultItemStyle.SingleRowResult)
    {
        <a class="grid-container ResultItem @Model.Style-ResultItem" href="@Model.Link">
            <section class="ResultItem-Row-One">
                <span class="ResultItem-Name-Info">
                    @if (!string.IsNullOrEmpty(Model.ItemName))
                    {
                        <span class="ResultItem-ItemName">
                            @Model.ItemName
                        </span>
                    }
                    @if (!string.IsNullOrEmpty(Model.DatePublished))
                    {
                        <span class="ResultItem-DatePublished">
                            @Model.DatePublished
                        </span>
                    }
                </span>
                @if (!string.IsNullOrEmpty(Model.AdditionalInfo))
                {
                    <span class="ResultItem-ShortDescription">
                        @Model.AdditionalInfo
                    </span>
                }

                <span class="ResultItem-Location-Info">
                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <span class="ResultItem-Description">
                            @Model.Description
                        </span>
                    }

                    @if (!string.IsNullOrEmpty(Model.Location))
                    {
                        <span class="ResultItem-Location">
                            @Model.Location
                        </span>
                    }
                </span>
            </section>

        </a>
        @if (!string.IsNullOrEmpty(Model.ContactInfoIcon?.Icon))
        {
            <a class="grid-container ResultItem @Model.Style-ResultItem" href="@Model.ContactInfoLink">
                <i class="@Model.ContactInfoIcon.Icon"></i>
            </a>
        }
    }

}