@model Search
@{
    var passthrueParameters = System.Web.HttpUtility.ParseQueryString(Context.Request.QueryString.Value);
    passthrueParameters.Add(System.Web.HttpUtility.ParseQueryString(Model.Action?.Split('?').LastOrDefault() ?? string.Empty));
}
<div class="Search">

    <form method="get" action="@Model.Action">
        <span>@Model.Title</span>
        <div class="input-container">
            <i class="@Model.FirstIcon colBlue pull-left icon"></i>

            @foreach (var parameterKey in passthrueParameters.AllKeys)
            {
                <input name="@parameterKey" type="hidden" value="@passthrueParameters[parameterKey]" />
            }
            <input id="search-field" name="search" type="text" class="input-field" />
            <button type="submit" class="btn btn-default">
                <i class="@Model.SecondIcon colBlue pull-right icon"></i>
            </button>
        </div>
        @if (!string.IsNullOrEmpty(Model.AutoSearchText))
        {
            <div class="auto-search" onclick="getLocation()">
                <span>@Model.AutoSearchText<i class="fas fa-search-location"></i></span>
            </div>

            <script>
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, showError);
                }
            }

            function showPosition(position) {
                window.location = "@Model.Action?.Split('?').FirstOrDefault()?search=" + position.coords.latitude +
                    " " + position.coords.longitude + "&@string.Join("&", passthrueParameters)";
            }

            function showError() {
                // ignore
            }
            </script>
        }
    </form>
</div>